@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rowdies:wght@300;400;700&display=swap');

body {
  background-color: white;
  color: black;
  font-family: "Georgia", sans-serif;
  font-size: 15px;
  text-align: left;
}
a {
  color: black;
}

h1,h2,h3 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}

h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Rowdies", sans-serif;
  text-decoration: underline;
  text-align: center;
  padding: 30px 0;
  width: 200px;
}
h2{
  font-style: normal;
  font-size: 25px;
  font-family: "Georgia", sans-serif;
  text-align: justify;
}
h3{
  font-style: normal;
  font-size: 25px;
  font-family: "Georgia", sans-serif;
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 30px;
  border: 1px solid lightgray;
}

li:hover {
  box-shadow: 2px 2px 6px green;
}

h1:hover{
  box-shadow: 2px 2px 6px pink;
}

#first-list {
  display: flex;
  justify-content: space-between;
}

#second-list {
  display: flex;
}

#second-list li {
  flex-grow: 1;
  margin: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.sale {
  color: red;
}

.out-of-stock {
  color: blue;
}

.border{
  border: 1px solid black;
}
